<!--
  Generated template for the MinhasManifestacoesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Minhas Manifestações</ion-title>
     
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
   
    <ion-grid>
      <ion-row>
        <ion-col>
         Protocolo
        </ion-col>
        <ion-col>
         Status
        </ion-col>
        <ion-col>
          Descrição
       </ion-col>
      </ion-row>
    </ion-grid>
   
    <ion-list *ngIf="found == true">
      <ion-item *ngFor="let manifestacao of manifestacoes">
        <ion-grid>
          <ion-row>
            <ion-col>
              {{ manifestacao.hash }}
            </ion-col>
            <ion-col >
              {{ manifestacao.status }}
            </ion-col>
            <ion-col>
              {{ manifestacao.observacao }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="found == false">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                Nada encontrado...
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
