page-local-info {
  .invalid {
    border: 1px solid #ea6153;
    font-size: 10px;
  }

  .error{
      color: #ea6153;
      font-size: 13.5px;
  }

  .item{
    width: 85%;
    position: relative;
    float: left;
  }

  .label{
    padding-top: 8%;
  }

  .ajuda{
    width: 15%;
    float: right;
  }

  #icons{
    padding: 20px;
    margin-top: 10px;
  }

  p {
    font-size: 0.8em;
    color: #e96151;
  }

  .ajuda{
    margin-right: 0;
    float: center;
    vertical-align: center;
  }

  .icone-ajuda{
    padding-top: 8%;
    color: black;
  }

  ion-header ion-navbar h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10px;
    margin-left: 2%;
    text-align: left;
    vertical-align: middle;
    color: #990A0D;
    font-size: 13px;
  }

  h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #21186B;
  }

  h4{
    color: rgb(111, 98, 204);
    padding: 0;
  }

  .label{
    padding-top: 8%;
  }

  #botao-Bonito{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    background-color: #21186B;

    position: relative;
    bottom: 0;
    top: 100%;

    text-transform: none;
  }

  .listButton{
    padding-top: 15%;
  }

  .clear-button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: none;
    color: #21186B;

    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  .cep-button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: none;
    color: #21186B;
  }

  .locate-button{
    background-color: #21186B;
    width: 100%;
    height: 15%;
    text-transform: none;

    color: #F6CFD0;
    vertical-align: middle;

  }

  ion-list{
    padding: 0;
    margin-top: 0;
  }
}

