<ion-header>

    <ion-navbar>
        <h5 >Minhas manifestações</h5>
        <button ion-button menuToggle>
          <ion-icon style="color: #990A0D;" name="menu"></ion-icon>
        </button>
    </ion-navbar>

  </ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-grid class="table" *ngIf="found == true">
      <ion-row class="header">
        <ion-col col-4>
         Protocolo
        </ion-col>
        <ion-col col-3>
         Tipo
        </ion-col>
        <ion-col col-5>
          Assunto
        </ion-col>
      </ion-row>

      <ion-list>
          <div *ngFor="let manifestacao of manifestacoes">
          <ion-row *ngIf="manifestacao.status == 'Aberto'">
            <ion-col col-4>
              <button class="buttonTable" ion-item (click)="abreManifestacao(manifestacao)">
                 {{ manifestacao.hash }}
              </button>
            </ion-col>
            <ion-col col-3 class="body">
              <button ion-item class="buttonTable" (click)="abreManifestacao(manifestacao)">
                {{ manifestacao.tb_tipo?.nmTipo }}
              </button>
            </ion-col>
            <ion-col col-5>
                <button ion-item class="buttonTable" (click)="abreManifestacao(manifestacao)">
                  {{ manifestacao.tb_assunto?.nmAssunto }}
                </button>
            </ion-col>
          </ion-row>
        </div>
    </ion-list>
    </ion-grid>

  <ion-grid class="table" *ngIf="found == false && manifestacoesStorage != null">
    <ion-row class="header">
        <ion-col col-4>
            Protocolo
           </ion-col>
           <ion-col col-3>
            Tipo
           </ion-col>
           <ion-col col-5>
             Assunto
           </ion-col>
    </ion-row>

    <ion-list>
      <div *ngFor="let manifestacao of manifestacoesStorage">
        <ion-row *ngIf="manifestacao.status == 'Aberto'">
            <ion-col col-4>
              <button class="buttonTable" ion-item (click)="abreManifestacao(manifestacao)">
                 {{ manifestacao.hash }}
              </button>
            </ion-col>
            <ion-col col-3 class="body">
                <button ion-item class="buttonTable" (click)="abreManifestacao(manifestacao)">
                  {{ manifestacao.tb_tipo?.nmTipo }}
                </button>
              </ion-col>
              <ion-col col-5>
                  <button ion-item class="buttonTable" (click)="abreManifestacao(manifestacao)">
                    {{ manifestacao.tb_assunto?.nmAssunto }}
                  </button>
              </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>




