<ion-header>

    <ion-navbar>
        <h5 >Minhas manifestações</h5>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-navbar>

  </ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

    <ion-grid *ngIf="found == true">
      <ion-row>
        <ion-col col-6>
         Protocolo
        </ion-col>
        <ion-col col-6>
         Status
        </ion-col>
      </ion-row>

      <ion-list>
          <div *ngFor="let manifestacao of manifestacoes">
          <ion-row>
            <ion-col col-6>
              <button ion-item (click)="abreManifestacao(manifestacao)">
                 {{ manifestacao.hash }}
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-item>
                {{ manifestacao.status }}
              </button>
            </ion-col>
          </ion-row>
        </div>
    </ion-list>
  </ion-grid>

  <ion-grid *ngIf="found == false && manifestacoesStorage">
    <ion-row>
      <ion-col col-6>
       Protocolo
      </ion-col>
      <ion-col col-6>
       Status
      </ion-col>
    </ion-row>

    <ion-list>
      <div *ngFor="let manifestacao of manifestacoesStorage">
        <ion-row>
            <ion-col col-6>
              <button ion-item>
                 {{ manifestacao.hash }}
              </button>
            </ion-col>
            <ion-col col-6>
              <button ion-item>
                {{ manifestacao.status }}
              </button>
            </ion-col>
        </ion-row>
      </div>
    </ion-list>
  </ion-grid>
</ion-content>




