<ion-header>

  <ion-navbar>
    <ion-title>Manifestacao</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label>Gostaria de se Identificar?</ion-label>
      <ion-toggle [(ngModel)]="toggle"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="toggle == true">

    <ion-item>
      <ion-label fixed>Nome</ion-label>
      <ion-input [(ngModel)]="manifestante.nmManifestante" type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>CPF/CNPJ</ion-label>
      <ion-input [(ngModel)]="manifestante.cpf_cnpj" type="text" value="" [brmasker]="{mask:'000.000.000-00', len:14,type:'num'}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>RG</ion-label>
      <ion-input [(ngModel)]="manifestante.rg" type="text" value="" [brmasker]="{mask:'AA-00.000.000', len:13}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Email</ion-label>
      <ion-input [(ngModel)]="manifestante.email" type="email" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Telefone</ion-label>

      <ion-input type="text" value="" [brmasker]="{phone: true}"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select [(ngModel)]="manifestacao.idTipo" cancelText="Cancelar" okText="Ok">
        <ion-option *ngFor="let tipo of tipos"  selected="{{isSelected(tipo)}}" (ionSelect)="selectTipo($event, tipo)" value="{{tipo.idTipo}}">{{tipo.nmTipo}}</ion-option>

      </ion-select>
    </ion-item>

    <ion-item class="ajuda">
      <ion-icon ios="ios-help" md="md-help" isActive="true" (click)="showDuvidas()"></ion-icon>
    </ion-item>

    <ion-item class="item">
      <ion-label>Secretaria</ion-label>
      <ion-select [(ngModel)]="manifestacao.idSecretaria" cancelText="Cancelar" okText="Ok">
        <ion-option *ngFor="let secretaria of secretarias" (ionSelect)="selectSecretaria($event, secretaria)" value="{{secretaria.idSecretaria}}">{{secretaria.nmSecretaria}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="ajuda">
      <ion-icon ios="ios-help" md="md-help" isActive="true" (click)="showDuvidas()"></ion-icon>
    </ion-item>

    <ion-item class="item">
      <ion-label>Assunto</ion-label>
      <ion-select [(ngModel)]="manifestacao.idAssunto" cancelText="Cancelar" okText="Ok">
        <ion-option *ngFor="let assunto of assuntos" (ionSelect)="selectAssunto($event, assunto)" value="{{assunto.idAssunto}}">{{assunto.nmAssunto}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="ajuda">
      <ion-icon ios="ios-help" md="md-help" isActive="true" (click)="showDuvidas()"></ion-icon>
    </ion-item>

    <ion-item class="item">
      <ion-label>Unidade</ion-label>
      <ion-select [(ngModel)]="manifestacao.idUnidade" cancelText="Cancelar" okText="Ok" >
        <ion-option *ngFor="let unidade of unidades" (ionSelect)="selectUnidade($event, unidade)" value="{{unidade.idUnidade}}">{{unidade.nmUnidade}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="ajuda">
      <ion-icon ios="ios-help" md="md-help" isActive="true" (click)="showDuvidas()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Descrição</ion-label>
      <ion-input type="text" [(ngModel)]="manifestacao.observacao" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Data</ion-label>
      <ion-input type="text" value="" [brmasker]="{mask:'00/00/0000', len:10}"></ion-input>
    </ion-item>

  

    <ion-list>
      <ion-list-header>
        Anexos
      </ion-list-header>

      <button ion-button icon-only>
        <ion-icon name="md-camera"></ion-icon>
      </button>

      <button ion-button icon-only>
        <ion-icon name="md-map"></ion-icon>
      </button>

      <button ion-button icon-only>
        <ion-icon name="ios-archive"></ion-icon>
      </button>
    </ion-list>

  </ion-list>

  <ion-list>
    <button ion-button round (click)="voltarPaginaInicial()">Cancelar</button>
    <button ion-button round (click)="criarManifestacao()">Enviar</button>
  </ion-list>

</ion-content>

