page-manifestacao {
    .item{
        width: 90%;
        position: relative;
        float: left;
      }


      .ajuda{
        width: 10%;
        float: right;
      }

      .botaoA{
       width: 15%;
        position: relative;
      }

      .botaoB{
        width: 25%;
         position: relative;
        
       }

       .botaoC{
        width: 35%;
         position: relative;
       }
    #icons{
      padding: 20px;
      margin-top: 10px;
    }
  
}
