.bloco-Vermelho{
    text-align: center;
color: #fff;
background-color:#ff8080;
}

.bloco-Verde{
    text-align: center;
color: #fff;
background-color: #80ff80;
}
.bloco-violet{
    text-align: center;
color: #fff;
background-color: #BA55D3;
}

.bloco-powderBlue{
    text-align: center;
color: #fff;
background-color: #ffff66;
}

.bloco-Rosa{
    text-align: center;
color: #fff;
background-color: #ff99ff;
}
.bloco-AzulClaro{
    text-align: center;
color:#000000;
background-color: #B0E0E6;
}

.bloco-Amarelo{
    text-align: center;
color: #fff;
background-color: #FFFF00;
}

#botaoBonito{
    width: 100%;
   
    color:#000000;
 
}