<ion-header>
  <ion-navbar>
    <button ion-button menuToggle *ngIf="hasConnection">
      <ion-icon style="color: #990A0D;" name="menu"></ion-icon>
    </button>
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5 style="color: #990A0D; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Ouvidoria App</h5>
        </ion-col>
        <ion-col>
          <img id="logo" src="../../assets/imgs/brasao.png" alt="logo">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="hasConnection == false" class="connection-error">
      <p>Você não está conectado à internet</p>
      <button ion-button class="connection-button" round (click)="reloadPage()">
        Tentar novamente
      </button>
  </div>

    <ion-grid *ngIf="hasConnection == true">
      <ion-row>
        <ion-col>
          <button id="botao-bonito" color="default" large block ion-button icon-start (click)="abrirUsuarioPage()">
            <ion-icon name="ios-megaphone"></ion-icon>
            Manifestação não-anônima
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <button id="botao-bonito" color="default" large block ion-button icon-start (click)="abrirLocalInfoPage()">
              <ion-icon name="eye-off"></ion-icon>
              Manifestação anônima
            </button>
          </ion-col>
      </ion-row>
      <ion-row>
          <ion-col>
            <button id="botao-bonito" color="default" large block ion-button icon-start (click)="abrirManifestacaoPage()">
              <ion-icon name="paper"></ion-icon>
              Minhas Manifestações
            </button>
          </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list *ngIf="hasConnection">
      <ion-list-header>
        <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #990A0D;">Notificações</h2>
      </ion-list-header>

      <span>
        <p>Ainda em desenvolvimento...</p>
      </span>
    </ion-list>
</ion-content>
