<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <h5 style="
        color: #990A0D;
        margin-left: 5%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      ">Menu</h5>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                      padding-bottom: 5%;">
      <button menuClose ion-item *ngFor="let p of pages" icon-start (click)="openPage(p)">
          <ion-icon *ngIf="p.title == 'Início'" name="ios-home"></ion-icon>
          <ion-icon *ngIf="p.title == 'Manifestação não anônima'" name="ios-megaphone"></ion-icon>
          <ion-icon *ngIf="p.title == 'Manifestação anônima'" name="eye-off"></ion-icon>
          <ion-icon *ngIf="p.title == 'Minhas Manifestações'" name="paper"></ion-icon>
          <ion-icon *ngIf="p.title == 'Configurações'" name="ios-settings"></ion-icon>
          {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
