<ion-header>
    <ion-navbar>
        <h5 *ngIf="usuario != null">Manifestação não anônima</h5>
        <h5 *ngIf="usuario == null">Manifestação anônima</h5>
        <button ion-button menuToggle>
          <ion-icon style="color: #990A0D;" name="menu"></ion-icon>
        </button>
    </ion-navbar>
</ion-header>

  <ion-content padding>

    <ion-list>
      <ion-item-divider>
        <h4>Informações gerais</h4>
      </ion-item-divider>

      <ion-item-group>
          <ion-item>
              <ion-label stacked>Tipo:*</ion-label>
              <ion-input [(ngModel)]="tipo.nmTipo" disabled type="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked>Secretaria:*</ion-label>
              <ion-input [(ngModel)]="secretaria.nmSecretaria" disabled type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="assunto">
              <ion-label stacked>Assunto:*</ion-label>
              <ion-input [(ngModel)]="assunto.nmAssunto" disabled type="text"></ion-input>
          </ion-item>

          <ion-item>
              <ion-label stacked>Descrição:*</ion-label>
              <ion-input [(ngModel)]="manifestacao.observacao" disabled type="text"></ion-input>
          </ion-item>
      </ion-item-group>

      <ion-item-divider *ngIf="usuario != null">
        <h4>Manifestante</h4>
      </ion-item-divider>

      <ion-item-group *ngIf="usuario != null">
        <ion-item>
          <ion-label stacked>Nome:*</ion-label>
          <ion-input [(ngModel)]="usuario.nmManifestante" disabled type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>E-mail:*</ion-label>
          <ion-input [(ngModel)]="usuario.email" disabled type="text"></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-divider>
          <h4>Anexo</h4>
      </ion-item-divider>

      <ion-item-group>
          <ion-item>
            <p>Nenhum arquivo selecionado...</p>
          </ion-item>
      </ion-item-group>

      <ion-item-divider>
        <h4>Local de ocorrência</h4>
      </ion-item-divider>

      <ion-item-group>
        <ion-item>
            <p> {{ this.endereco.logradouro }}, {{ this.endereco.numero }} - {{ this.endereco.bairro }} </p>
            <ion-label *ngIf="unidade" hidden="true" stacked>Unidade:*</ion-label>
            <ion-input *ngIf="unidade" [(ngModel)]="unidade.nmUnidade" disabled type="text"></ion-input>
        </ion-item>
      </ion-item-group>

      <ion-item-divider>
        <h4>Comentários</h4>
      </ion-item-divider>

      <ion-list class="list-Button" *ngIf="comentarios && comentarios.length > 0">
          <ion-item>
              <button id="botao-bonito" ion-button round full large (click)="abreComentarios()">Ver comentários</button>
          </ion-item>
      </ion-list>

      <ion-item-group *ngIf="comentarios && comentarios.length == 0">
        <ion-item>
          <p>Nenhum comentário foi feito...</p>
        </ion-item>
    </ion-item-group>

    </ion-list>

  </ion-content>
